
#container
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#leftPanel
{
    position:fixed;
    background-color:blue;
    height: 100px;
    width: 100px;
    
    
}

#addToOrder
{
    display: none;
    width: 80%;
    height: 80%;
    position: absolute;
    background-color: red;
}


