body 
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #0f3170;
}

h2 
{
	font-size: 50px;
	color:rgb(31, 1, 65);
	text-align: center;
}

.login-box
{
	position: relative;
	width:500px;
	/*background: rgb(105, 129, 39); */
}

.login-box form
{
	width: 100%;
	padding: 0 70px;
}

.input-box
{
	position: relative;
	margin: 35px 0;
}

.input-box input
{
	width:65%;
	height: 50px;
	background: transparent;
	border-radius: 50px;
}


