       /*Style wszystkich tekstur w CSS strony rejestracji.*/ 
       .container
       {
       position:relative;
       }
       body {
        /*background-color: lightblue;*/
        background-image:url('imagePizzaWeb.jpg');

      }
      .button-register
      {

         /* background-color: darkcyan;*/
          height:40px;
          width: 200px;
         /* background-color: #04AA6D;*/
          margin-bottom:10px;
        
      }
      .label1{
    
        margin:250px;
      
  
       
      }
      .label2{
    
        color:rgba(239, 156, 156, 0.877);
  
      }
      .container {
        
        padding: 16px;
       /* background-color: white;*/
        width: 600px;
        height:700px;
       
        vertical-align: middle;
        background-color:rgba(47,79,79,.7);
        margin-left: 30%;
        margin-right:  -30%;
       
     
      }
      .icon-container
      {   
       
       
      }
      .label{
       
      }
      .input{
        margin-left:150px ;
        width:300px;
        height:20px;
        margin-bottom:20px;
        text-align: center;
        
      }
      .main-label{
        margin-left: 200px;
       margin-bottom:50px;
       color:rgb(182, 221, 255);
       
      }
      .agreement{
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color:rgb(182, 221, 255);
      }


