/* Style.css */
.container {
  position: relative;
}

.body {
  /*background-color: lightblue;*/
  background-image: url('imagePizzaWeb.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.button-register {
  /* background-color: darkcyan; */
  height: 40px;
  width: 200px;
  /* background-color: #04AA6D; */
  margin-bottom: 10px;
}

.label1 {
  margin: 250px;
}

.label2 {
  color: rgba(222, 209, 209, 0.492);
}

.container {
  padding: 16px;
  /* background-color: white; */
  width: 600px;
  height: auto;
  vertical-align: middle;
  background-color: rgba(47, 79, 79, 0.7);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icon-container {
  /* Add any specific styles for the icon container here */
}

.label {
  /* Add any specific styles for labels here */
}

.input {
  margin-left: 150px;
  width: 300px;
  height: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-label {
  margin-left: 200px;
  margin-bottom: 50px;
  color: rgba(245, 196, 196, 0.492);
}

.agreement {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: rgba(245, 192, 192, 0.492);
  margin-top: 20px;
  display: block;
  text-align: center;
}

.agreement a {
  color: rgba(245, 192, 192, 0.492);
}

.login-link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(245, 192, 192, 0.492);
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
}
